@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

/* Custom Utilities for Animations that match tailwind config extension */
@theme {
  --animate-bounce-slow: bounce-slow 3s infinite;
  --animate-float: float 4s ease-in-out infinite;

  @keyframes bounce-slow {

    0%,
    100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-work-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}